

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


/* Useful Utility Classes Below */

body{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}


p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 28px;
  font-weight: 450;
  font-style: normal;
}

.container-spacing {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right:  30px;
}

.bg-blue {
	background-color: #192841;
}

.bg-tan {
	background-color: #fff0c4;
}

.bg-black {
	background-color: #000;
}

.text-black {
	color: #000000;
}


.extra-padding {
	padding-bottom: 120px;
}

.bottom-padding {
	padding-bottom: 24px;
}


.logopadding {
	padding-top: 16px;
}

.titlepadding {
	padding-top: 24px;
}

.text-left {
	text-align: left;
}

.image-right {
	margin-right: 0px;
}




a {
	text-decoration: none;
	color:#000;
}

a:hover {
	text-decoration: none;
	color:#e74518;
}


h1, h2, h3, h4, h5, h6 {
	padding-top: 8px;
}


h1 {
	font-size: 80px;
	letter-spacing: 1px;
}

h2 {
	font-size: 60px;
	letter-spacing: 1px;
}

h3 {
	font-size: 42px;
	letter-spacing: 1px;
}

h3 {
	font-size: 36px;
	letter-spacing: 1px;
}











.text-center{
	text-align: center;
}

.img-center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.float-left{
	float: left;
	padding-right: 1em;
}

.float-right{
	float: right;
	padding-left: 1em;
}

/* Useful Utility Classes Above */